        <div class="center jumbotron">

        <% provide(:title, "Home") %>

		
		<h1>Welcome to Sample App</h1>
		<h2>
			this is the home page <a href="http://www.baidu.com"> ruby on rails
		</h2>

		<%= link_to "sign up now", 'signup_path', class: "btn btn-lg btn-primary" %>
	   </div>







